<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webapp</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
  <link rel="stylesheet" href="../static/styles/style.css">

  <script src="https://kit.fontawesome.com/c956280855.js" crossorigin="anonymous"></script>
  
</head>

<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</body>

</html>
</head>

<body>
  <nav class="navbar" aria-label="main navigation">
    <div class="container-fluid">

      
      <a class="navbar-brand" href="#"> 
        <h3>
          <i class="fa-solid fa-dumbbell"></i>
          DIET-ZEN
          
        </h3>
      </a>
    </div>
  </nav>

  <br> <br>
   
  

  <form action="/" method="post" class="form-horizontal">
      
    
   
    <div class="container-2"> 

      
     
     

    <p class="p1">What’s your weight?</p>
    <input type="number" min="1" max="110" step="any" name="Weight" id="" class= "weight-box"  placeholder="Weight (in kgs)">
     
    <p class="p2">What’s your height?</p>
     <input type="number"min="1" max="210" step="any" name="Height" id="" class= "height-box" placeholder="Height (in cm)"> <br> <br>

    <p class= "p3">What is your gender?</p>
    <input type="radio" name="gender"  value="male" class="gender-1"> Male
    <input type="radio" name="gender"  value="female"  class="gender-2"> Female
    <br> <br>
    <input type="number" min="10" max="100" step="1" name="age" class="Age" placeholder="Age">
    <br> <br>

    <!-- <p>What’s your food preference?</p>
            <input type="radio" name="food" value="Veg"> Veg
            <input type="radio" name="food" value="Non-veg"> Non-veg
            <br><br> -->
          <p class="p4">Physical Activity:</p>
     
    <select name="PA" class="dropdown-1" id="" required>
      <option selected hidden value=""> Select Activity Level</option>
      <option>Very Light</option>
      <option>Light</option>
      <option>Moderate</option>
      <option>Heavy</option>
      <option>Very Heavy</option>

    </select>
    <br> <br>
    <select name="PA" class="dropdown-2" id="" required>
      <option value="Food  ">Food preferences</option>
      <option value="">Non-Veg</option>
      <option value="">Veg</option>
    </select>
   
    <br> <br> <br>
    <button class="button-78" role="submit">Submit</button>

   
  </div>
  </form>

  <div class="row1">
  
  
  
  
    
   </div>

</div>





</body>

</html>