* {
    margin: 0px;
    

}

.form-2{
    margin: 10em;
    margin-top: 3em;
    margin-left: 20em;
    width:35vw;
    height:20vh ;
    background-color:rgb(224, 238, 255);
    
    

}
.form-2:hover{
        box-shadow: 2px 2px 2px 2px  rgb(100, 93, 93);
        border-radius: 70px;
        transition:  ease-out 1s;
}
.col1{
   
    margin-top: -15rem;
}

.f-cal{
    margin-bottom: -2em;
    margin-top: 8em;
    margin-left: 6em;
    font-weight:bolder;
   

}
.calories{
    color:white;
    width: 20em;
    height:2rem;
    margin-top: 5em;
    margin-left: 8.5em;
    border: 5px solid rgb(255, 0, 0);
    border-radius:20px;
    text-align:center;
    margin-right: 10em;
    font-family: sans-serif,bolder,larger,white;
    background-color:rgb(0, 6, 7);
}
.Diet{
    margin-left: 20em;
    size: 20px;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, black;
    letter-spacing: 4px;
    
     }
.container-diet{
    margin: 5em;

 
    
    }
    
.grid-1{
    background-color:#f2f2f9;
    width: 90vw;
    height: 45vh;
    margin-left:4em;
    margin-bottom: 5em;
    
    border:5px solid rgb(32, 66, 255);
    border-radius:20px;
}

.meal{
    width:15em;
    height: 3em;
    text-align: center;
    padding-top:0.5em;
    background-color: white;
    border:  2px solid rgb(247, 60, 60);
}

.dropdown-meal{
    width: 10em;
     height: 1.7em;
     margin-left:1.6em;
     font-weight: 30px;
     font-size: 19px;
     background-color:rgb(204, 223, 238);
       color:#0048ff;
       text-align: center;
       border-radius: 15px;
       border: 3px solid rgb(255, 0, 0);